<main>
    <h1>Mention légale</h1>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum, at.
        Neque doloribus voluptatibus ad ipsum totam, doloremque ut reprehenderit
        eligendi. Quae aut molestias iste voluptates eos aliquid adipisci
        ducimus eligendi!
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus
        voluptates omnis doloribus accusantium dignissimos velit commodi vitae,
        nulla voluptatum ad autem maiores, laborum harum ullam libero at quod?
        Dolor, nemo!
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus
        voluptates omnis doloribus accusantium dignissimos velit commodi vitae,
        nulla voluptatum ad autem maiores, laborum harum ullam libero at quod?
        Dolor, nemo!
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus
        voluptates omnis doloribus accusantium dignissimos velit commodi vitae,
        nulla voluptatum ad autem maiores, laborum harum ullam libero at quod?
        Dolor, nemo!
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus
        voluptates omnis doloribus accusantium dignissimos velit commodi vitae,
        nulla voluptatum ad autem maiores, laborum harum ullam libero at quod?
        Dolor, nemo!
    </p>
</main>
